@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap");

$primary-color: #000000;
$secondary-color: #c1ff72;
$tertiary-color: #ffffff;

$font-family: "Alumni Sans", sans-serif;
$button-font-size-desktop: 18px;
$button-font-size-mobile: 16px;
$label-font-size-desktop: 16px;
$label-font-size-mobile: 14px;
$main-headers-font-size-desktop: 32px;
$main-headers-font-size-mobile: 28px;
$username-font-size-desktop: 20px;
$username-font-size-mobile: 18px;
$footer-font-size-desktop: 16px;
$footer-font-size-mobile: 14px;

$breakpoint-small: 640px;
$breakpoint-medium: 641px;

$grid-columns-3: 3;

@layer components {
  .dark-mode-style {
    border: 3px solid $tertiary-color;
    &:active {
      border: 3px solid $secondary-color;
    }
  }
}
