@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@mixin flex-center-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flex-center-layout {
  @include flex-center-display;
 
}

.button-desktop {
  background-color: $primary-color;
  color: $secondary-color;
  font-family: $font-family;
  font-size: $button-font-size-desktop;
  &:active {
    border: 3px solid $secondary-color;
   
  }
}

.form-container{
display: flex;
flex-direction: column;
align-items: center;
background-color: $primary-color;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-desktop{
  color: $secondary-color;
  font-family: $font-family;
  font-size: 16px;
}

.input-desktop{
  width: 325px;
  height: 23px;
  background-color:$tertiary-color;
  color: $tertiary-color;
&:focus{
  background-color: $primary-color;
  border: 3px solid $secondary-color;

}
}

.subheader-desktop{
  color: $secondary-color;
  font-family: $font-family;
  font-size: 24px;
  justify-self: center;
}