@import "variables";


@mixin flex-center-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flex-center-layout {
  @include flex-center-display;
 
}

.button {
  background-color: $primary-color;
}
